<!DOCTYPE html>
<html>
<body>

<h2>Subject Form</h2>
<form action="/subjects/add" method="POST">
  Subject name:<br>
  <input type="text" name="subjectName">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>

