<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center
}
h1, p{
    text-align: center
}
</style>
<title>Students</title>
</head>
<body>
    <h1>Edit Subject</h1>
    <p><a href ="/subjects">subject data</a></p>
    <div class="edit_subject_table">
        <form action="/subjects/edit/<%= editSubject.id%>" method="post">
            Subject name:<br>
            <input type="text" name="subjectName" value="<%= editSubject.subjectName%>">
            <br><br>
            <input type="submit" value="Edit Subject">
        </form>
    </div>
</body>
</html>