<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>

<h2>Subject Data</h2>

<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Subject Name</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <% subjectData.forEach(subject => { %>
        <tr>
          <td><%= subject.id %></td>
          <td><%= subject.subjectName %></td>
          <td><a href = "/subjects/edit/<%=subject.id%>">edit</a> || <a href="/subjects/delete/<%=subject.id%>" onclick = "return confirm('delete this subject?')"> delete</a> </td>
        </tr>
      <% })%>
    </tbody>
  </table>
  <p><a href ="/subjects/add">add subject</a></p>
</body>
</html>

