
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Form</title>
</head>
<body>
    <h1>Add Student Data</h1>
    <form action="/students/add" method="post">
        First Name<br>
        <input type="text" name="firstname" placeholder="First Name"><br>
        Last Name<br>
        <input type="text" name="lastname" placeholder="Last Name"><br>
        Email<br>
        <input type="text" name="email" placeholder=="Email"><br>
        <input type="submit" name="Submit" value="Add Student">
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>