<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>School Page</h1>
    <h3><a href="/students">Students Data</a></h3>
    <h3><a href="/students/add">Add Students</a></h3>
    <h3><a href="/students/edit/">Edit Students (input id)</a></h3>
    <h3><a href="/students/delete/">Delete Students (input id)</a></h3>
    <h3><a href="/teachers">Teachers Data</a></h3>
    <h3><a href="/subjects">Subjects Data</a></h3>
  </body>
</html>