<html>
  <head>
    <title>

    </title>
  </head>
  <body>
    <h1>"Wellcome"</h1>
    <li><a href='/student'>Students</a></li>
    <li><a href='/teacher'>Teachers</a></li>
    <li><a href='/subject'>Subject</a></li>
  </body>
</html>
