<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://hacktiv8.com/img/fox--md5--a9e377ae39495073d0e66db163fc8d9b.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

  <title>Hacktiv8 Indonesia - Ari Supriatna</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #F57F17">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" href="/">HACKTIV8</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Signup</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0 text-white" type="submit" style="background-color: #FBC02D">Search</button>
      </form>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid" style="background-image: url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-0.3.5&s=db802b72adc82f97904d37dde9d0d401&auto=format&fit=crop&w=1489&q=80'); width: 100%">
    <div class="container">
      <br>
      <br>
      <center>
        <img src="https://www.kontrakhukum.com/images/partner-logo/Hacktiv8.png" width="20%" alt="">
        <h1 class="display-4 text-white">Welcome to My Project</h1>
        <h3 class="text-white">Expressjs, Sequelize, CRUD, MVC, Postgress, Javascript</h3>
        <h4 class="text-white">Ari Supriatna</h4>
      </center>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <h5 class="card-header text-center text-white" style="background: #FFAB40">MENU UTAMA</h5>
          <div class="card-body">

            <div class="row">

              <div class="col-md-3">
                <div class="card">
                  <img src="https://www.shareicon.net/data/2016/08/18/815435_idea_512x512.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/student/add" class="btn text-white" style="background: #F57C00">ADD STUDENT</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="https://www.shareicon.net/data/2016/08/18/815435_idea_512x512.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/student" class="btn text-white" style="background: #F57C00">DATA STUDENT</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="https://cmporanga.tudotransparente.com.br/assets/img/userchat.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/teacher/add" class="btn text-white" style="background: #F57C00">ADD TEACHER</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="https://cmporanga.tudotransparente.com.br/assets/img/userchat.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/teacher" class="btn text-white" style="background: #F57C00">DATA TEACHER</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="http://pluspng.com/img-png/english-subject-png-english-2246.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/subject/add" class="btn text-white" style="background: #F57C00">ADD SUBJECT</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="http://pluspng.com/img-png/english-subject-png-english-2246.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="/subject" class="btn text-white" style="background: #F57C00">DATA SUBJECT</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="http://pluspng.com/img-png/english-subject-png-english-2246.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="#" class="btn text-white disabled" style="background: #F57C00">Coming Soon</a>
                  </div>
                </div>
                <br>
              </div>

              <div class="col-md-3">
                <div class="card">
                  <img src="http://pluspng.com/img-png/english-subject-png-english-2246.png" class="card-img-top" alt="">
                  <div class="card-body">
                    <a href="#" class="btn text-white disabled" style="background: #F57C00">Coming Soon</a>
                  </div>
                </div>
                <br>
              </div>
            </div>
            <!-- row -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <footer class="page-footer font-small pt-0" style="background: #E65100">
    <div class="footer-copyright py-3 text-center text-white">
      <small>
        © 2018 Copyright:
        <a href="https://www.explorecode.tk/" class="text-white"> Ari Supriatna </a>
      </small>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
</body>

</html>