<!doctype <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
    <script src="script.js"></script>

    <nav id="head">

        <div id='logo'>
            <img src='https://hacktiv8.com/img/logo-hacktiv8_bordered--md5--f7ee5fc69819b5ef3849344c119f5e18.png'>

        </div>

        <!-- <a href="#">Home</a>
            <a href='imageGallery.html'>Image Gallery</a>
            <a href="#">About</a> -->

    </nav>

    <div class="header">
        <div class="info">
            <h4>
                <a href="#category"></a>
            </h4>
            <h1>Menjadi Full Stack Web Developer
                <br class="hidden-lg" /> dalam 12 minggu</h1>
            <p class="lead">Kelas Pemograman Full Stack JavaScript Web Developer di Jakarta, Indonesia</p>

            <div class="meta">
                <a href="https://twitter.com/nodws" target="_b" class="author"></a>
                <br>

                <!-- <a href="https://twitter.com/nodws" target="_b">ade fahri syany</a>  -->
            </div>
        </div>
    </div>


    </section>

    <div class="content">

        <p>HACKTIV8 adalah program pemblajaran Full Stack JavaScript immersive pertama di Indonesia. Kurikulum kami dirancang
            untuk membangun keahlian yang dapat diaplikasikan pada perkembangan dunia teknologi terkini.</p>
        <p align="center">
            <section class="container">
                <form method="get" action="/students">

                    <button data-hover="Hurry!">
                        <div>Daftar Sekarang</div>
                    </button>
                </form>

    </div>
    </p>
    </section>
    <div id="student">
    </div>
</head>

<body>
    <div id="student">
    </div>
    <div id="teacher">
    </div>




    <div class=background2>
        <footer>
            <h2>
                </p>Connect With Us</h>
                <br>
                <br>

                <div class="socm">

                    <a class="ig" href="https://instagram.com/hacktiv8id">
                        <img src="https://i.imgur.com/95060Kx.png" width="80px" height="80px">
                    </a>

                    <a class="fb" href="https://facebook.com/hacktiv8id">
                        <img src="https://i.imgur.com/KEq9xvM.png" width="80px" height="80px">
                    </a>

                    <a class="yt" href="https://www.youtube.com/c/hacktiv8"></a>
                    <img src="https://i.imgur.com/3CBrEcA.png" width="80px" height="80px">
                    </a>

                </div>
        </footer>
    </div>

</body>

</html>