<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Student Form</h2>
    <a href='/student'>show all data</a>
    
    <form action="/student/edit/<%=student.id%>" method="POST">
    <br>
    First name:<br>
    <input type="text" name="first_name" value=<%=student.first_name%>>
    <br>
    Last name:<br>
    <input type="text" name="last_name" value=<%=student.last_name%>
    <br><br>
    Email:<br>
    <input type="text" name="email" value=<%=student.email%>
    <br>
    <br><br>
    <button type="submit" onclick="alert('Succesfully updated')" value="submit">Edit Student</button>
    </form> 
</body>
</html>