<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Add Form</title>
</head>
<body>
    <h1>Add Student Data</h1>
    <form action="/students/add" method="POST">
        First Name<br>
        <input type="text" name="firstname"><br>
        Last Name<br>
        <input type="text" name="lastname"><br>
        Email<br>
        <input type="text" name="email"><br>
        <input type="submit" name="Submit" value="Add Student">
    </form>
</body>
</html>

