<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/studentDelete.css" />
    <script src="main.js"></script>

    <nav id="head">

        <div id='logo'>
            <img src='https://hacktiv8.com/img/logo-hacktiv8_bordered--md5--f7ee5fc69819b5ef3849344c119f5e18.png'>

        </div>


    </nav>
</head>


<body>
    <div class=content_top></div>
    

    <div class="pageAddStudent">
        <div class="page__demo">
            <label class="field a-field a-field_a1 page__field">
                <input class="field__input" placeholder="e.g. 1" required>
                <span class="field__label-wrap">
                    <span class="field__label">Select Id</span>
                </span>
            </label>
           
          
        </div>
    </div>


    

</body>

</html>