<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Edit</title>
</head>
<body>
    <h1>Edit Student Data</h1>
    <form action="/students/edit/<%= studentById.id%>" method="POST">
        First Name<br>
        <input type="text" name="firstname" value="<%= studentById.first_name %>" ><br>
        Last Name<br>
        <input type="text" name="lastname" value="<%= studentById.last_name%>"><br>
        Email<br>
        <input type="text" name="email" value="<%= studentById.email %>"><br>
        <input type="submit" name="Submit" value="Edit Student">
    </form>
</body>
</html>