<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h2>Add Subject Data</h2>
        <a href='/subject'>show all data</a>
        
        <form action="/subject/add" method="POST">
    <br>
    Subject name:<br>
    <input type="text" name="subject_name">
    <br>
    <br>
    <button type="submit" onclick="alert('Succesfully registered')" value="submit">Add Subject</button>
    </form> 
</body>
</html>