<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }

      th,
      td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2
      }
    </style>
    <meta charset="utf-8">
    <title>list of all Subjects data</title>
  </head>

  <body>
    <h2 align="center">SUBJECT DATA</h2>
    <p align="center"><a href="/subjects/add">Add Subjects data</a></p>
    <table>
      <tr>
        <th>Subjects Name</th>

        <th>Option</th>
      </tr>

      <% subjects.forEach((subject)=>{   %>

        <tr>
          <td>
            <%=subject.subject_name%>
          </td>

          <td><a href="/subjects/edit/<%=subject.id%>">edit</a> | <a onclick="return confirm('delete this subject?')" href="/subjects/delete/<%=subject.id%>">delete</a></td>
        </tr>

        <%  })%>
    </table>

  </body>

</html>